/* - **layout.css** should contain general positioning on the page
  - Apply to elements such as header, footer, nav, aside
  - Classes and IDs can be included here */

  
  header {
    height: 75px;
    /* width: 480px; */
    background-color: royalblue;
    /* padding: 1.70em */
  }
  
  main {

  }
  
  section {
  
  }

  aside {
    height: 150px;
    /* width: 480px; */
    background-color: sandybrown;
  }
  
  div {
    height: 125px;
    /* width:480px; */
    background-color: sienna;
    text-align: center;
    /* padding: 3em; */
  }

  article p {
    /* display: inline; */
    display:inline-block;
    height:250px;
    width:230px;
    background-color: red
  }
  
  footer {
    height: 80px;
  }
  
  @media (min-width: 768px) {
    body {
      background-color: salmon;
    }
    header {
      width: 100%;
    }
  }
